<div class="scrollable">
	<div class="scrollable-content">

		<div class="list-group">
			<div class="list-group-item">
				<h1>Welcome<br/>
					<small>This is an in-the-works Planning/Scrum Poker app</small>
				</h1>
			</div>

			<div class="list-group-item media">
				<div class="media-body">
					<h3 class="media-heading">What's this made with!?</h3>
					NancyFx, AngularJS, SignalR, Bootstrap, and RavenDb
				</div>
			</div>

            <div class="list-group-item media">
                <div class="media-body">
                    <h3 class="media-heading">Users Logged In</h3>
                    <div ng-repeat="user in usersOnline()">{{user}}</div>
                </div>
            </div>

		</div>

	</div>
</div>
