<div content-for="title">
	<span>Users</span>
</div>


<div class="scrollable">
	<div class="scrollable-content container section">

		<form ng-submit="submitNewUser()">

			<div bs-panel title="Existing users">
				<p ng-repeat="user in userInTeam()"> {{user}} <a>Delete</a></p>
			</div>

			<div bs-panel title="Create a new user">
				<input type="text" ng-model="userToCreate.name" label="Username" bs-form-control></input>
			</div>

			<div bs-panel class="form-actions">
				<div content-for="navbarAction" duplicate>
					<button class="btn btn-primary" ng-click="addNewUser()">
						Add a new user
					</button>
				</div>
			</div>
		</form>

	</div>
</div>