<div content-for="title">
    <span>Cards</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="section container">
            <form action="" id="">
                <div bs-panel title="Select a Card">
                    <select ng-model="vote">
                        <option></option>
                        <option ng-repeat="card in cards">{{card}}</option>
                    </select>
                </div>

                <div bs-panel title="Submit vote, or show overlay">
                    <a class="btn btn-primary" href="#boundOverlay" toggle="on">Show overlay</a>
                    <a ng-show="credentials.loggedIn" ng-click="submitVote()" class="btn btn-primary">Vote</a>
                </div>
            </form>
        </div>
    </div>
</div>


<div overlay="boundOverlay">
    <span style="font-size: 15em;">{{myVote}}</span>
</div>
