<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="assets/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.signalR-2.0.3.min.js" type="text/javascript"></script>
    <script src="signalr/hubs" type="text/javascript"></script>
</head>
<body>
    Do stuff in your console.

    <script>
        $.connection.hub.start();
        $.connection.testHub.client.clientFunc = function (foo) {
            alert(foo + " from the server");
        };

        // do $.connection.testHub.server.serverFunc('asdf');
    </script>
</body>
</html>
